<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="globalTestPack" thread-count="1">
    <test name="globalTestPack" preserve-order="true">
        <classes>
            <class name="com.jbilling.test.TestCreateNewCompanyUsingCopyCompany" />
            <class name="com.jbilling.test.TestLoginIntoCompany" />
            <class name="com.jbilling.test.TestCreationOfChildCompany" />
            <class name="com.jbilling.test.TestAddAccountType" />
            <class name="com.jbilling.test.TestAttachPaymentType" />
            <class name="com.jbilling.test.TestAddInfoToAccountType" />
            <class name="com.jbilling.test.TestConfigurePaymentMethod" />
            <class name="com.jbilling.test.TestConfigureOrderPeriod" />
            <class name="com.jbilling.test.TestConfigureCollection" />
            <class name="com.jbilling.test.TestConfigureCollectionPlugins" />
            <class name="com.jbilling.test.TestConfigureBillingProcess" />
            <class name="com.jbilling.test.TestCreateProductCategory" />
            <class name="com.jbilling.test.TestCreateCategoryWithAssetManagement" />
            <class name="com.jbilling.test.TestAddAndEditProduct" />
            <class name="com.jbilling.test.TestCreateProductWithAsset" />
            <class name="com.jbilling.test.TestAssignAccountToProduct" />
            <class name="com.jbilling.test.TestCreateAndEditPlan" />
            <class name="com.jbilling.test.TestRootCompanyImpersonationOnChildCompany" />
            <class name="com.jbilling.test.TestCreateAndEditCustomer" />
            <class name="com.jbilling.test.TestCreateParentChildRelationInCustomersTab" />
            <class name="com.jbilling.test.TestCreateDiscount" />
            <class name="com.jbilling.test.TestChangeOrderFeature" />
            <class name="com.jbilling.test.TestCreateOrderWithDifferentTypedandPeriods" />
            <class name="com.jbilling.test.TestCustomerStatusChangeAsCollection" />
            <class name="com.jbilling.test.TestCreateProductWithDependencyOnOther" />
            <class name="com.jbilling.test.TestOrderProductWithDependencyOnOther" />
            <class name="com.jbilling.test.TestAgentsLinkedToCustomer" />
            <class name="com.jbilling.test.TestCreateProductWithCommissions" />
            <class name="com.jbilling.test.TestConfigurePluginPreferencesForCommission" />
            <class name="com.jbilling.test.TestGeneratedCommissionPostInvoiceGeneration" />
            <class name="com.jbilling.test.TestReportForInvoice" />
            <class name="com.jbilling.test.TestUserCanPayInvoiceOnGeneratedInvoice" />
            <class name="com.jbilling.test.TestVerifyInvoiceGeneration" />
            <class name="com.jbilling.test.VerifyMandatoryFieldMessageForAccountType" />
            <class name="com.jbilling.test.VerifyAddPaymentMethodAndAccountType" />
            <class name="com.jbilling.test.VerifyEditCompanyDetails" />
            <class name="com.jbilling.test.VerifyEditDeletePaymentMethod" />
            <class name="com.jbilling.test.VerifyLoginUsingValidCredentials" />
            <class name="com.jbilling.test.VerifyAddDependenciesOnProduct" />
            <class name="com.jbilling.test.VerifyCreateInvoiceTemplates" />
            <class name="com.jbilling.test.VerifyConfigureOrderChangeStatuses" />
            <class name="com.jbilling.test.VerifyStatusOfPreExistingAndNewOrder" />
            <class name="com.jbilling.test.VerifyAddProductWithDifferentPricingModel" />
            <class name="com.jbilling.test.VerifyCreateMetaFields" />
            <class name="com.jbilling.test.VerifyCreateOrderChangesStatusesAndOrderChangeTypePlugins" />
            <class name="com.jbilling.test.VerifySetUpFeeProductAndRelatedPlugInUsedAsCancellationFee" />
            <class name="com.jbilling.test.VerifySearchingSortingForFreeUsagePoolAfterSwitchingConfiguration" />
            <class name="com.jbilling.test.VerifyConfigurePluginsForProvisioning" />
            <class name="com.jbilling.test.VerifyCreateEnumeration" />
            <class name="com.jbilling.test.VerifyDataPreparationForAllSections" />
            <!--<class name="com.jbilling.test.VerifyConfigureProductToHaveDependencies" />-->
            <class name="com.jbilling.test.VerifyMetaFieldSelectionNotAvailableWhileAddingNewMetaField" />
            <class name="com.jbilling.test.VerifyValidityRulesDropDownIsAvailableWhileCreatingMetaFieldToAIT" />
            <class name="com.jbilling.test.VerifyAddAnotherAITMetaFieldToAccountType" />
            <class name="com.jbilling.test.VerifyCreateGlobalProductWithAnAsset" />
            <class name="com.jbilling.test.VerifyUsedMetaFieldTypeDoNotPopulateInDropDown" />
            <class name="com.jbilling.test.VerifyCreatedAITMetaFieldIncludeInNotificationDropDown" />
            <class name="com.jbilling.test.VerifyAddAITMetaFieldToAccountType" />
            <class name="com.jbilling.test.VerifyCreateFUP" />
            <class name="com.jbilling.test.VerifyCreateCategoryOnePerCustomer" />
            <class name="com.jbilling.test.VerifyCreateCategoryOnePerOrder" />
            <class name="com.jbilling.test.VerifyOnlyOneAITMetaFieldPerAccountTypeCanBeEnabledAtTime" />
            <!--<class name="com.jbilling.test.VerifyPluginsNotVisibleWithoutPermissions" />-->
            <class name="com.jbilling.test.VerifyDiscountsAreCorrectlyDisplayedInJQGridView" />
            <class name="com.jbilling.test.VerifyCreateAssetMgmtMetaFieldsAndGroup" />
            <class name="com.jbilling.test.VerifyCreateAssetMgmtWithDiffCategories" />
            <class name="com.jbilling.test.VerifySubscribeToTheFUP" />
            <class name="com.jbilling.test.VerifyAssociatePlanWithDifferentCategories" />
            <class name="com.jbilling.test.VerifyUnableToDeleteFUPThatUsed" />
            <class name="com.jbilling.test.VerifyCloneTheAccountType" />
            <class name="com.jbilling.test.VerifyActiveSinceDateOfDiscountSubOrderCreatedIsSameAsActiveSinceOfTheParentOrder" />
            <class name="com.jbilling.test.VerifyCreateNestedPlanForDataPreparation" />
            <class name="com.jbilling.test.VerifySearchingAndSortingForDiscount" />
            <class name="com.jbilling.test.VerifyCancelPurchaseOrder" />
            <class name="com.jbilling.test.VerifySeeAllOrderDetailsOfRespectiveCustomer" />
            <class name="com.jbilling.test.VerifyEditPurchaseOrder" />
            <class name="com.jbilling.test.VerifyCreatePurchaseOrdersWithBundledQuantity" />
            <class name="com.jbilling.test.VerifyCreateMonthlyPrepaidOrder" />
            <class name="com.jbilling.test.VerifyCreateMonthlyPostpaidOrder" />
            <class name="com.jbilling.test.VerifyCreateYearlyPostpaidOrder" />
            <class name="com.jbilling.test.VerifyAccountTypeNotification" />
            <class name="com.jbilling.test.VerifyCreateCurrencyPlan" />
            <class name="com.jbilling.test.VerifyCreateOrderDifferentCurrency" />
            <class name="com.jbilling.test.VerifyCreatePluginData" />
            <class name="com.jbilling.test.VerifyCreateSellerRootCompany" />
            <class name="com.jbilling.test.VerifyCurrencyChangeRate" />
            <class name="com.jbilling.test.VerifyDefaultCurrency" />
            <class name="com.jbilling.test.VerifyDeleteAITType" />
            <class name="com.jbilling.test.VerifyEditNotificationPayment" />
            <class name="com.jbilling.test.VerifySettingUpCurrencies" />
            <class name="com.jbilling.test.VerifyCustomerCCNumberMasked" />
            <class name="com.jbilling.test.VerifyAddPluginAndPreference" />
            <class name="com.jbilling.test.TestOrderProvisioningTaskTriggersEvent" />
        </classes>
    </test>
</suite>
