/bank_files
# build artifacts
build/
target/
/resources
image/
changelog

# temp files
activemq-data/
out/
production/
tmp/
logs/
*.log
*.log.*
*~
.ant-targets*.xml
*.jasper
*.BAK
# external libraries
libs/
dev_libs/
# project files
.idea/
*.iml
*.ipr
*.iws
*.swo
*.swp
run-app.bat
run-app.sh
.project
.classpath
.settings
.link_to_grails_plugins/
# local git configuration
.gitattributes
/classes/
/target-eclipse/
# license file that should not be part of the repository
license.txt
test-output
nohup.out
/.metadata
/docs/
grails-ant.properties


edi/
ediCommunication/

.slcache

.DS_Store

# test files
test/mediation-service-impl/
test/test/
