<!DOCTYPE hibernate-configuration SYSTEM
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<!--
<!DOCTYPE hibernate-configuration SYSTEM
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.session_factory_name">Hibernate_Session_Factory</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <property name="net.sf.ehcache.configurationResourceName">ehcache-hibernate.xml</property>
        <!-- connection settings -->
        <property name="hibernate.connection.release_mode">after_transaction</property>

        <!-- This should be equal to Constants.HIBERNATE_BATCH_SIZE -->
        <property name="hibernate.jdbc.batch_size">100</property>

        <!--  Debugger helpers -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <!-- https://hibernate.atlassian.net/browse/HHH-9106 -->
        <property name="hibernate.event.merge.entity_copy_observer">allow</property>

        <!-- Mappings, only needed to help GROM, otherwise all the mappings are done with annotations -->
        <mapping package="com.sapienter.jbilling.server.metafields.db"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.MetaField"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.MetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.MetaFieldGroup"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.ValidationRule" />
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.BooleanMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.DateMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.DecimalMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.IntegerMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.StringMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.JsonMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.ListMetaFieldValue"/>
        <mapping class="com.sapienter.jbilling.server.metafields.db.value.CharMetaFieldValue"/>
        <mapping package="com.sapienter.jbilling.server.provisioning.db" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.ProvisioningStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.ProvisioningCommandDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.AssetProvisioningCommandDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.OrderProvisioningCommandDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.OrderLineProvisioningCommandDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.PaymentProvisioningCommandDTO" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.ProvisioningRequestDTO" />
        <mapping package="com.sapienter.jbilling.server.report.db"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.BooleanReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.DateReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.IntegerReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.StringReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.ListReportParameterDTO"/>
        <mapping package="com.sapienter.jbilling.server.process.db" />
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessConfigurationDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalPmDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunUserDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.AgeingEntityStepDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.PaperInvoiceBatchDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.PeriodUnitDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessDTO" />
		<mapping class="com.sapienter.jbilling.server.process.db.BillingProcessInfoDTO" />
		<mapping class="com.sapienter.jbilling.server.process.db.BillingProcessFailedUserDTO" />
        <mapping package="com.sapienter.jbilling.server.util.audit.db" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogMessageDTO" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogDTO" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogModuleDTO" />
        <mapping package="com.sapienter.jbilling.server.util.db" />
        <mapping class="com.sapienter.jbilling.server.util.db.LanguageDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CountryDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyExchangeDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescriptionDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescriptionId" />
        <mapping class="com.sapienter.jbilling.server.util.db.AbstractGenericStatus" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescription" />
        <mapping class="com.sapienter.jbilling.server.util.db.JbillingTable" />
        <mapping class="com.sapienter.jbilling.server.util.db.NotificationCategoryDTO" />
        <mapping package="com.sapienter.jbilling.server.item.db" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDependencyDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDependencyOnItemDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDependencyOnItemTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.PlanDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.PlanItemDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.PlanItemBundleDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.AssetDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.AssetStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.AssetTransitionDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.AssetAssignmentDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.AssetReservationDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.EntityItemPrice" />
        <mapping package="com.sapienter.jbilling.server.pricing.db" />
        <mapping class="com.sapienter.jbilling.server.pricing.db.DataTableQueryDTO" />
        <mapping class="com.sapienter.jbilling.server.pricing.db.DataTableQueryEntryDTO" />
        <mapping class="com.sapienter.jbilling.server.pricing.db.PriceModelDTO" />
        <mapping class="com.sapienter.jbilling.server.pricing.db.RateCardDTO" />
        <mapping package="com.sapienter.jbilling.server.payment.blacklist.db" />
        <mapping class="com.sapienter.jbilling.server.payment.blacklist.db.BlacklistDTO" />
        <mapping package="com.sapienter.jbilling.server.payment.db" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInvoiceId" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInvoiceMapDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentAuthorizationDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentResultDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentMethodDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentMethodTemplateDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentMethodTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInformationDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInstrumentInfoDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentTransferDTO" />
        <mapping package="com.sapienter.jbilling.server.mediation.db" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationConfiguration" />
        <mapping class="com.sapienter.jbilling.server.mediation.MediationRatingSchemeDTO"/>
        <mapping class="com.sapienter.jbilling.server.mediation.RatingSchemeAssociation"/>
        <mapping package="com.sapienter.jbilling.server.user.permisson.db" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionUserDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.RoleDTO" />
        <mapping package="com.sapienter.jbilling.server.user.contact.db" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactMapDTO" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactDTO" />
        <mapping package="com.sapienter.jbilling.server.user.db" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.SubscriberStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CompanyDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserCodeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserCodeLinkDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserCodeCustomerLinkDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserCodeOrderLinkDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.AccountTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.AccountTypePriceDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.AccountInformationTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CompanyInformationTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CompanyInfoTypeMetaField" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerPriceDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerStatusChangeHistoryDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerPricePK" />
        <mapping class="com.sapienter.jbilling.server.user.db.ResetPasswordCodeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerNoteDTO" />
        <mapping class="com.sapienter.jbilling.server.pricing.db.RouteDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.MatchingFieldDTO"/>
        <mapping class="com.sapienter.jbilling.server.pricing.db.RouteRateCardDTO"/>
        <mapping class="com.sapienter.jbilling.server.pricing.db.RatingUnitDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerAccountInfoTypeMetaField" />
        <mapping class="com.sapienter.jbilling.server.user.db.CancellationRequestDTO"/>
        <mapping package="com.sapienter.jbilling.server.invoice.db" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDeliveryMethodDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.SuretaxTransactionLogDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.InvoiceTemplateDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.InvoiceTemplateFileDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.InvoiceTemplateVersionDTO"/>
        <mapping package="com.sapienter.jbilling.server.notification.db" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageSectionDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageLineDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchLineDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.InvoiceNotificationMessageArchDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.InvoiceEmailProcessInfoDTO" />
        <mapping package="com.sapienter.jbilling.server.order.db" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderBillingTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderProcessDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderPeriodDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderChangeStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderChangeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderChangeTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderChangePlanItemDTO" />
        <mapping package="com.sapienter.jbilling.server.user.partner.db" />
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerDTO" />
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerPayout" />
        <mapping package="com.sapienter.jbilling.server.pluggableTask.admin" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskParameterDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeCategoryDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.EnumerationDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.EnumerationValueDTO"/>
        <mapping class="com.sapienter.jbilling.server.discount.db.DiscountDTO" />
        <mapping class="com.sapienter.jbilling.server.discount.db.DiscountLineDTO" />
        <mapping package="com.sapienter.jbilling.server.diameter.db" />
        <mapping class="com.sapienter.jbilling.server.diameter.db.ChargeSessionDTO"/>
        <mapping class="com.sapienter.jbilling.server.diameter.db.ReservedAmountDTO"/>
        <mapping class="com.sapienter.jbilling.server.usagePool.db.UsagePoolDTO" />
        <mapping class="com.sapienter.jbilling.server.usagePool.db.CustomerUsagePoolDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineUsagePoolDTO"/>
        <mapping class="com.sapienter.jbilling.server.usagePool.db.ComsumptionActionDTO" />
        <mapping class="com.sapienter.jbilling.server.usagePool.db.UsagePoolConsumptionLogDTO"/>
        <mapping class="com.sapienter.jbilling.server.usagePool.db.UsagePoolConsumptionActionDTO"/>
        <mapping class="com.sapienter.jbilling.server.usagePool.db.SwapPlanHistoryDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerCommissionValueDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerCommissionExceptionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerReferralCommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CommissionProcessRunDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerCommissionLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.InvoiceCommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.ReferralCommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CustomerCommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PaymentCommissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CommissionProcessConfigurationDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CustomerCommissionDefinitionPK"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.CustomerCommissionDefinitionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.UserPasswordDTO"/>
        <mapping package="com.sapienter.jbilling.server.payment.tasks.paypal.db" />
        <mapping class="com.sapienter.jbilling.server.payment.tasks.paypal.db.PaypalIPNDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentProcessRunDTO"/>
        <mapping class="com.sapienter.jbilling.server.customerEnrollment.db.CustomerEnrollmentDTO"/>
        <mapping class="com.sapienter.jbilling.server.customerEnrollment.db.CustomerEnrollmentCommentDTO"/>
        <mapping class="com.sapienter.jbilling.server.customerEnrollment.db.CustomerEnrollmentAgentDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDIFileDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDIFileRecordDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDIFileFieldDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDITypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDIFileStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.ediTransaction.db.EDIFileExceptionCodeDTO"/>
        <mapping class="com.sapienter.jbilling.server.boa.batch.db.BoaBaiProcessedFileDTO"/>
        <mapping class="com.sapienter.jbilling.server.boa.batch.db.BoaBaiProcessingErrorDTO"/>
        <mapping class="com.sapienter.jbilling.server.creditnote.db.CreditNoteDTO"/>
        <mapping class="com.sapienter.jbilling.server.creditnote.db.CreditNoteLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.creditnote.db.CreditNoteInvoiceMapDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoiceSummary.db.InvoiceSummaryDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineTierDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentProcessorUnavailableDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.JobExecutionHeaderDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.JobExecutionLineDTO"/>
        <mapping class = "com.sapienter.jbilling.server.mediation.movius.db.OrgCountPositionDTO"/>
        <mapping class="com.sapienter.jbilling.server.schedulerhistory.db.ScheduledProcessRunHistoryDTO"/>
        <mapping class = "com.sapienter.jbilling.server.usageratingscheme.domain.entity.UsageRatingSchemeDTO"/>
        <mapping class = "com.sapienter.jbilling.server.usageratingscheme.domain.entity.DynamicAttributeLineDTO"/>
        <mapping class = "com.sapienter.jbilling.server.usageratingscheme.domain.entity.UsageRatingSchemeTypeDTO"/>
        <mapping class = "com.sapienter.jbilling.server.item.db.RatingConfigurationDTO"/>
        <mapping class = "com.sapienter.jbilling.server.apiUserDetail.db.ApiUserDetailDTO"/>
        <mapping class = "com.sapienter.jbilling.server.integration.db.OutBoundInterchange"/>
        <mapping class = "com.sapienter.jbilling.server.servicesummary.ServiceSummaryDTO"/>
        <mapping class = "com.sapienter.jbilling.server.order.db.OrderLineItemizedUsageDTO"/>
        <mapping class = "com.sapienter.jbilling.auth.RefreshTokenDTO"/>
        <mapping class = "com.sapienter.jbilling.server.servicesummary.PrepaidServiceSummaryDTO"/>
	</session-factory>

</hibernate-configuration>
